<!DOCTYPE html>
<html>

<head>
{% include ga.html %}
{% include mixpanel.html %}
{% include head.html %}
</head>

<body>

{% include header.html %}

<div class="page-content">
    <div class="wrapper">
        {{ content }}

        <!--<h2 class="page-heading">Topics</h2>-->

        <!--<ul>-->
            <!--{% assign sorted_tags = (site.tags | sort:0) %}-->
            <!--{% for tag in sorted_tags %}-->
            <!--<li>{{ tag | first }}</li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    </div>
</div>

{% include footer.html %}

</body>

</html>
